<!DOCTYPE html>
<html lang="en">

<head>
  <script type="text/javascript" src="config_js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
</head>

<body>
  <!--vue-ssr-outlet-->
</body>

</html>
