@import './util.styl';
// 首页
set-icon('home', 0.5rem, 0.5rem, true)
set-icon('search-book', 0.8rem, 0.8rem, true)
set-icon('guide', 0.8rem, 0.8rem, true)
set-icon('home-category', 0.8rem, 0.8rem, true)
set-icon('book-shelf', 0.8rem, 0.8rem, true)
set-icon('home-active', 0.5rem, 0.5rem, true)
set-icon('category', 0.5rem, 0.5rem, true)
set-icon('category-active', 0.5rem, 0.5rem, true)
set-icon('bookroom', 0.5rem, 0.5rem, true)
set-icon('bookroom-active', 0.5rem, 0.5rem, true)
set-icon('my', 0.5rem, 0.5rem, true)
set-icon('my-active', 0.5rem, 0.5rem, true)

/* 我的 */
set-icon('edit', 0.38rem, 0.38rem, true)
set-icon('history', 0.39rem, 0.39rem)
set-icon('record', 0.38rem, 0.38rem)
set-icon('annotation', 0.41rem, 0.36rem)
set-icon('comment', 0.37rem, 0.33rem)
set-icon('setting', 0.37rem, 0.39rem)
set-icon('copy', 0.35rem, 0.35rem)
set-icon('vip', 0.36rem, 0.39rem)
set-icon('expert', 0.3rem, 0.25rem, true)
set-icon('mark', 0.88rem, 1rem, true)
set-icon('free-read', 0.88rem, 1rem, true)
set-icon('non-copy', 0.88rem, 1rem, true)
set-icon('method-read', 0.88rem, 1rem, true)
set-icon('reference', 0.88rem, 1rem, true)
set-icon('big-storage', 0.88rem, 1rem, true)
set-icon('vip-mark', 0.32rem, 0.28rem, true)
set-icon('vip-diamond', 0.36rem, 0.31rem, true)
set-icon('alipay', 0.48rem, 0.48rem, true)
set-icon('WeChatpay', 0.48rem, 0.48rem, true)
set-icon('pay-success', 1rem, 1rem, true)
set-icon('pay-failed', 1rem, 1rem, true)


set-icon('enter', 0.2rem, 0.3rem, true)
set-icon('back', 0.2rem, 0.5rem, true)
set-icon('trash', 0.35rem, 0.5rem, true)
set-icon('course', 1rem, 1rem, true)

/* 分类以及书籍 */
set-icon('expand', 0.24rem, 0.12rem, true)
set-icon('chapter', 0.28rem, 0.24rem, true)
set-icon('refresh', 0.3rem, 0.25rem, true)
set-icon('k-refresh', 0.3rem, 0.3rem, true)
set-icon('bookshelf', 0.4rem, 0.4rem, true)
set-icon('bookshelf-enter', 0.4rem, 0.4rem, true)
set-icon('book', 0.4rem, 0.4rem, true)
set-icon('more', 0.19rem, 0.2rem, true)
set-icon('edit-book', 0.22rem, 0.22rem, true)

/* 登录注册 */
set-icon('logo', 1.66rem, 0.92rem, true)
set-icon('phone', 0.24rem, 0.34rem, true)
set-icon('user', 0.31rem, 0.32rem, true)
set-icon('lock', 0.3rem, 0.32rem, true)
set-icon('eye-close', 0.3rem, 0.16rem, true)
set-icon('eye-open', 0.3rem, 0.32rem, true)
set-icon('safe', 0.28rem, 0.32rem, true)
set-icon('envelope', 0.28rem, 0.32rem, true)
set-icon('checkbox', 0.26rem, 0.26rem, true)
set-icon('checkbox-active', 0.26rem, 0.26rem, true)

.icon-search
	position relative
	width 11px
	height 11px
	border 2px solid #DDD
	border-radius 50%
	&:after
		content ''
		display inline-block
		position absolute
		width 7px
		height 2px
		bottom -2px
		right -7px
		transform rotate(40deg)
		background-color #DDD
.vui-icon-error
	display inline-block
	width 15px
	height 15px
	border-radius 50%
	background-color red
