theme-color = #009882
main-bg-color = #f5fafa
line-color = #E7E7E7
default-color = #f2f5f4
default-text-color = #FFF

// 字体颜色
font-color__basic = #2e3332 // 基础字体颜色
font-color__gray = #a3a3a3 // 次级字体颜色
font-color__9 = #999
font-color__6 = #666
font-color__3 = #333

header-height = 0.88rem
bottom-height = 1rem
line-height = 0.6rem

category-left-width = 2.8rem
category-left-item-height = 0.9rem
category-left-text-color = #FFF
