@import 'mixin.styl'

set-icon('nav', 16px, 17px)
set-icon('hat', 20px, 16px)
set-icon('subject', 16px, 18px)
set-icon('hot', 15px, 18px)
set-icon('user', 16px, 18px)
set-icon('more', 7px, 12px)
set-icon('pass-success', 104px, 110px)
set-icon('bookshelf', 16px, 16px)
set-icon('vip', 17px, 15px)
set-icon('phone', 10px, 15px)
set-icon('other-subject', 16px, 16px)
set-icon('subject-tag', 65px, 30px)
set-icon('academic-area', 17px, 17px)
set-icon('down-cart', 10px, 6px)
set-icon('refresh', 14px, 14px)
set-icon('close', 18px, 18px)
set-icon('uphone', 23px, 31px)
set-icon('password', 26px, 30px)
set-icon('vips', 16px, 16px)
set-icon('expert', 18px, 15px)
set-icon('plus', 14px, 14px)
set-icon('relate-book', 18px, 15px)
set-icon('Alipay', 28px, 28px)
set-icon('WeChat', 28px, 28px)
set-icon('Logo', 149px, 28px)
set-icon('avatar', 26px, 26px)
set-icon('topBtn', 50px, 50px)
set-gif('loading', 30px, 30px)
