@import './variable.styl'

.bg
  background url('../img/bg.png') no-repeat center
  background-size cover
  background-size contain
  background-repeat initial
.hy-form
  .el-form-item__content
    img
      position absolute
      right 0
      width 112px
      height 40px
      border-top-right-radius 5px
      border-bottom-right-radius 5px
section
  &.section
    padding-top 30px
  >.section-inner
    padding-top 30px
    min-height 560px
    box-shadow 0 0 2px rgba(0, 0, 0, 0.1)
aside
  >h4
    height 50px
    line-height 50px
    color #c39f52
    font-weight bold
    background-color #f0eadb
    >div
      margin-right 3px
.btn__sub-theme
  background-color #f8f3e8
  color #c39f52
  border 1px solid #cab478
.btn__theme
  color #fff
  border 1px solid #267258
  background-color $color-theme
.btn__knowledge
  border-radius 999px
  border 1px solid $color-theme
.result
  .result-list
    >div
      > div
        padding 20px 0
      span
        color #f00
    .abs
      color #888
      line-height 2
