// 颜色定义规范
$color-theme = #009882
$color-sub-theme = #e3dbc6
$color-background = #fff
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-text = #333
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

$color-text-header = #634b33

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

$background-linear-green = linear-gradient(to bottom, #78b4b4, #009882)
$background-linear-yellow = linear-gradient(to bottom, #e8c77d, #d8ab44)

$header-height = 48px