<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../config_js"></script>
  <script src="<%= publicPath %>static/js/polyfill.min.js"></script>
  <script src="/cdn/Editor/ueditor.config.js"></script>
  <script src="/cdn/Editor/ueditor.all.js"></script>
  <script src="/cdn/Editor/lang/zh-cn/zh-cn.js"></script>
  <script src="/cdn/Editor/kityformula-plugin/addKityFormulaDialog.js"></script>
  <script src="/cdn/Editor/kityformula-plugin/getKfContent.js"></script>
  <script src="/cdn/Editor/kityformula-plugin/defaultFilterFix.js"></script>
  <script src="/cdn/reader3/3.1.x/reader3.js"></script>
  <link rel="stylesheet" href="/cdn/reader3/3.1.x/reader3.css">
  <link rel="stylesheet" href="/cdn/reader3/3.1.x/theme/desktop/style.css">
  <title><%= title %></title>
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
