<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>汉译世界学术名著数据库</title>
  <script type="text/javascript" src="config_js"></script>
  <script>
    var TOKEN_LOCAL = true
  </script>
  <script src="/cdn/others/polyfill.min.js"></script>
  <script src="/cdn/es6-shim/es6-shim.min.js"></script>
  <script src="<%= publicPath %>static/js/tagcloud.js"></script>
  <link rel="stylesheet" href="<%= publicPath %>static/css/tagcloud.min.css"></link>
  <script src="/cdn/reader3/3.1.x/reader3.js"></script>
  <!-- <script src="http://192.168.1.103:7000/demo/reader/reader3.js"></script> -->
  <link rel="stylesheet" href="/cdn/reader3/3.1.x/reader3.css" />
  <!-- <link rel="stylesheet" href="http://192.168.1.103:7000/demo/reader/reader3.css" /> -->
  <link rel="stylesheet" href="/cdn/reader3/3.1.x/theme/desktop/style.css" />
</head>
<body id="body">
  <div id="app"></div>
  <!-- built files will be auto injected  2.5 * 50-->
</body>

</html>
